<div class="col-4 ">

    <!-- Search widget-->
    <div class="card mb-4">
        <div class="card-header">유저 검색</div>
        <div class="card-body">
            <form action="{{ url_for('post_list.post_list') }}" method="post">
                <div class="input-group">
                    <input for="kw" name="kw" id="kw" class="form-control kw" value="{{ kw or '' }}">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit" id="btn_search">
                            <i class="fas fa-sharp fa-light fa-magnifying-glass" style="color: #2555a7;"></i>
                            찾기
                        </button>
                    </div>
                </div>
            </form>

        </div>
    </div>
    {% set ranking = {'value': 0} %}
    {% set count_like = {'value': 0} %}
    <!-- User widget-->
    <div class="card mb-4">
        <div class="card-header">인기 유저 순위</div>
        <div class="card-body">
            <div class="row">
                <ul class="list-unstyled mb-0">
                    {% if selected_user %}
                    <li>
                        <a href="{{ url_for('post_list.select_user', user_id=g.user.user_id) }}"
                            style="text-decoration: none; color: black;">
                            <!-- <i class="fa-solid fa-face-smile fa-lg" style="color: #ffd91a; "></i> -->
                            <div style="font-weight: bold; font-size: 20px;">나</div>
                            {{ g.user.user_name }} {{ g.user.user_id }}
                        </a>
                        <hr />
                    </li>
                    {% endif %}
                    {% if list_user %}
                    {% for user in list_user %}

                    <!-- Set ranking -->
                    {% if user.user_id == selected_user.user_id %}
                    {% if ranking.update({'value': loop.index}) %}
                    {% endif %}

                    {% if count_like.update({'value': user.entire_like}) %}
                    {% endif %}
                    {% endif %}

                    {% if loop.index == 1 %}
                    <li>
                        <a href="{{ url_for('post_list.select_user', user_id=user.user_id) }}" style=" color: black;">
                            <i class="fa-sharp fa-solid fa-crown fa-lg" style="color: #edc602"></i>
                            {{ user.user_name }} {{ user.user_id }}
                        </a>
                    </li>
                    {% elif loop.index == 2 %}
                    <li>
                        <a href="{{ url_for('post_list.select_user', user_id=user.user_id) }}" style=" color: black;">
                            <i class="fa-sharp fa-solid fa-crown fa-lg" style="color: #bdbdbd"></i>
                            {{ user.user_name }} {{ user.user_id }}
                        </a>
                    </li>
                    {% elif loop.index == 3 %}
                    <li>
                        <a href="{{ url_for('post_list.select_user', user_id=user.user_id) }}" style="color: black;">
                            <i class="fa-sharp fa-solid fa-crown fa-lg" style="color: #CD7F32"></i>
                            {{ user.user_name }} {{ user.user_id }}
                        </a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{{ url_for('post_list.select_user', user_id=user.user_id) }}"
                            style="color: black; margin-left: 26px;">
                            {{ user.user_name }} {{ user.user_id }}
                        </a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <!-- Info widget-->
    <div class="card mb-4" id="side_widget_bottom">
        <div class="card-header">정글러 정보</div>
        {% if selected_user %}
        <div class="card-body" style="padding-bottom: 0;">
            <p style="margin-bottom: 3px;">아이디 : {{ selected_user.user_id }} </p>
            <p style="margin-bottom: 3px;">이름 : {{ selected_user.user_name }} </p>
            <p style="margin-bottom: 3px;">랭킹 : {{ ranking.value }} </p>
            <p style="margin-bottom: 3px;">좋아요 : {{ count_like.value }} </p>
            <p style="margin-bottom: 0;">작성한 게시글 </p>
        </div>
        {% else %}
        <div class="card-body">
            Empty Space
        </div>
        {% endif %}

        {% if user_post_list %}
        {% for post in user_post_list %}
        <p class="ms-3" style="margin-bottom: 5px;">
            <i class=" fas fa-sharp fa-light fa-book fa-lg" style="color: #f0d20f;"></i>
            </i>
            <a href="{{ url_for('post_detail.post_detail', create_date=post.create_date) }}" style=" color: black;">
                {{ post.title }}
            </a>
        </p>

        {% endfor %}

        {% endif %}

    </div>
</div>