<div class="col-4">

    <!-- Search widget-->
    <div class="card mb-4">
        <div class="card-header">Search</div>
        <div class="card-body">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search User Mail" aria-label="Enter search term..." aria-describedby="button-search" />
                <button class="btn btn-primary" id="button-search" type="button">Go!</button>
            </div>
        </div>
    </div>

    <!-- Categories widget-->
    <div class="card mb-4">
        <div class="card-header">Top Users</div>
        <div class="card-body">
            <div class="row">
                <ul class="list-unstyled mb-0">
                {% if list_user %}
                {% for user in list_user %}
                    {% if loop.index == 1 %}
                    <li><a href="{{ url_for('post_list.select_user', user_id=user.user_id) }}">[본인] {{ user.user_name }}  {{ user.user_id }}</a></li>
                    {% else %}
                    <li><a href="{{ url_for('post_list.select_user', user_id=user.user_id) }}">{{ user.user_name }} {{ user.user_id }}</a></li>
                    {% endif %}
                {% endfor %}
                {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <!-- Side widget-->
    <div class="card mb-4" id="side_widget_bottom">
        <div class="card-header">Information about</div>
        {% if selected_user %}
        <div class="card-body">
            <p>ID  : {{ selected_user.user_id }}</p>
            <p>이름 : {{ selected_user.user_name }}</p>
        </div>
        {% else %}
        <div class="card-body">
            You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!
        </div>
        {% endif %}

        {% if user_post_list %}
        <ul class="card-body">
        {% for post in user_post_list %}
            <li><a href="{{ url_for('post_detail.post_detail', create_date=post.create_date) }}">{{ post.title }}</a></li>
        {% endfor %}
        </ul>
        {% endif %}

    </div>
</div>